:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}


.md-button{
	display: inline-block;
	font-weight: 500;
	font-size: 1em;
	min-width: 100%;
	border-radius: 2px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;


}

.md-button:hover{
	background-color: rgba(0,0,0, .1);
}

.md-button.md-button--raised{
	color: #1A1A40;
	font-weight: bold;
}

.md-button.md-button--raised:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.md-card{
	background-color: #313552;
	border-radius: 5px;
	overflow: hidden;
}

.md-card-content{
	padding: 10px;
	min-width: 500px;
}

.smaller-card-content {
    min-width: 300px;
}

.toggleButton{
	padding-top: 4%;
	justify-content: center;
	align-items: center;

}

/* TOGGLE */
#menuToggle{
	display: none;
}
#menuToggle0{
	display: none;
}
#menuToggle1{
	display: none;
}
#menuToggle2{
	display: none;
}
#menuToggle3{
	display: none;
}
#menuToggle4{
	display: none;
}
#menuToggle5{
	display: none;
}
#menuToggle6{
	display: none;
}
#menuToggle7{
	display: none;
}
#menuToggle8{
	display: none;
}
#menuToggle9{
	display: none;
}
#menuToggle10{
	display: none;
}
#menuToggle11{
	display: none;
}
#menuToggle12{
	display: none;
}
#menuToggle13{
	display: none;
}
#menuToggle14{
	display: none;
}
#menuToggle15{
	display: none;
}

#info {
    display: none;
}
	
.infobox{
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
    max-width: 30%;
	display: table-column-group;

	z-index: 1;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	-webkit-transition: visibility 0s .4s, opacity .4s 0s;
    transition: visibility 0s .4s, opacity .4s 0s;
}

:checked + .infobox{
	display: table;
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: visibility 0s 0s, opacity .4s .1s;
	transition: visibility 0s 0s, opacity .4s .1s;

}



*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding-left: 5%;
    padding-bottom: 5%;
    background: #9deba9;
}

h1 {
    text-align: center;
    text-transform: uppercase;
	color: #1A1A40;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #CDDEFF; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.tournament-tree {
    display: grid;
    width: 1216px;
    margin: auto;
    grid-gap: 16px;
    grid-template-rows: 80px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-areas:
        'slot--18-1 . . . . button  '
        '. slot--14-1 . . . infoBubble'
        'slot--18-2 . . . . .'
        '. . slot--12-1 slot--11-1 . .'
        'slot--18-3 . . . . . '
        '. slot--14-2 . . . .'
        'slot--18-4 . . . . . ';
}


.slot--18-1 { grid-area: slot--18-1; }
.slot--18-2 { grid-area: slot--18-2; }
.slot--18-3 { grid-area: slot--18-3; }
.slot--18-4 { grid-area: slot--18-4; }

.slot--14-1 { grid-area: slot--14-1; }
.slot--14-2 { grid-area: slot--14-2; }

.slot--12-1 { grid-area: slot--12-1; }

.slot--11-1 { grid-area: slot--11-1; }
.button { 
    grid-area: button;
    width: 50%;
    box-shadow: var(--shadow) 4px 4px;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
    text-transform: uppercase;
    font-family: var(--font-family);
    border: var(--border-size) solid black;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight:900;
    background: #CDDEFF;
}
.infoBubble {
    font-weight:900;
    grid-area: infoBubble;
    width: 20%;
    height: 40%;
    margin-left: 15%;
    border-radius: 50%;
    border:  var(--border-size) solid black;
    box-shadow: var(--shadow) 4px 4px;
    text-shadow: var(--shadow) 2px 2px;
    background: #CDDEFF;
    cursor: pointer;
    font-family: var(--font-family);
    justify-content: center;
    text-align: center;
    padding-top: 1%;
}

.infoBubble:hover{
    background-color: rgb(162, 176, 201);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.button:hover{
    background-color: rgb(162, 176, 201);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.slot {
    border: 1px solid #263e6d;
    background: #fff;
    position: relative;
    height: 100%;
}



.slot:after,
.slot:before {
    content: '';
    background: #b70711;
    position: absolute;
    top: 50%;

}

/** right side **/
.slot--left:after,
.slot--11-1:after,
[class*="slot--14-"].slot--right:before {
    width: 8px;
    height: 2px;
    right: 0;
    transform: translate(100%, -50%);
}

/** left side **/
.slot--right:after,
.slot--11-1:before,
[class*="slot--14-"].slot--left:before {
    width: 8px;
    height: 2px;
    left: 0;
    transform: translate(-100%, -50%);
}

[class*="slot--12-"].slot--left:after {
    left: 0;
    transform: translate(-100%, -50%);
}

[class*="slot--12-"].slot--left:before,
[class*="slot--12-"].slot--right:before {
    width: 2px;
    height: 386px;
}

.slot--12-1:before {
    left: 0;
    transform: translate(-10px, -50%);
}

[class*="slot--12-"].slot--right:after {
    left: auto;
    right: 0;
    transform: translate(100%, -50%);
}

[class*="slot--12-"].slot--right:before {
    right: 0;
    left: auto;
    transform: translate(10px, -50%);
}

[class*="slot--18-"].slot--top:before {
    width: 2px;
    height: 194px;
}

[class*="slot--18-"].slot--top.slot--left:before {
    right: 0;
    transform: translate(10px, -1px);
}

[class*="slot--18-"].slot--top.slot--right:before {
    left: 0;
    transform: translate(-10px, -1px);
}

.slot--11-1:after,
.slot--11-1:before {
    width: 18px;
}

.team {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-weight: 700;
    background: #ddd;
    color: #CDDEFF;
}

.team--winner {
    background: #fff;
}

#winner {
	color: #00FFAB;
}

.wins {
    color:#00FFAB;
}

.loses {
    color: #EC255A;
}

.eventSpan {
    color: #F4EBC1;
}

.winnerULcolor {
    color: #CDDEFF;
}

.with-tooltip {
  position: relative;
}

.with-tooltip::after {
    content: attr(data-tooltip-content);
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    color: white;
    top: 45%;
    left: -150%;  
    white-space: pre-line;
    min-width: 200px;

    background-color: gray;
    opacity: 0;
    font-size: 0.8rem;
    visibility: hidden;
    transform: translate(-50%, 18px) scale(0.8);
    transition: visibility, opacity, transform 200ms;
}

.with-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
